<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="../static/images/favicon.png"
        />

        <!-- Custom -->
        <link rel="stylesheet" href="../static/styles/home.css" />
        <link rel="stylesheet" href="../static/styles/navbar.css" />
        <link rel="stylesheet" href="../static/styles/button.css" />
        <!-- <link rel="stylesheet" href="../static/styles/scrollbar.css"> -->

        <!-- Select2 -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
            rel="stylesheet"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- jQuery base library needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <title>Netfelix</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img class="netflix-logo" src="../static/images/logo.png" />
                </div>
                <div class="toggle">
                    <a href="/" class="navlink" id="insights" style="margin-right: 40px;">Insights</a>
                    <a href="/viewership"  class="navlink" id="viewership" style="margin-right: 40px;">Viewership</a>
                    <a href="/categorical" class="navlink" id="categorical" style="margin-right: 40px;">Categorical</a>
                    <a href="/customquery" class="navlink" id="query">Query</a>
                </div>
            </div>
            <section id="home">
                <div class="overlay">
                    <canvas id="myChart"></canvas>
                    <div class="parameters">
                        <form
                            action="/categorical"
                            method="POST"
                            enctype="multipart/form-data"
                            class="toggle-sensit"
                        >
                            <label for="id_label_single" class="dropdown-label"
                                >Select Start Date:</label
                            >
                            <br />
                            <input
                                name="start_date"
                                type="date"
                                id="target4"
                                style="
                                    width: 145px;
                                    border-radius: 0.3rem;
                                    border-color: transparent;
                                    line-height: 1.1rem;
                                    justify-content: center;
                                "
                                value="{{selection.start_date}}"
                            />
                            <br /><br />
                            <label for="id_label_single" class="dropdown-label"
                                >Select Period:</label
                            >
                            <select
                                class="js-example-basic-single js-states form-control"
                                name="period"
                                id="target1"
                                style="width: 150px"
                            >
                                {% for option in options["period"] %}
                                console.log({{option}})
                                <option
                                    class="tablinks"
                                    value="{{option}}"
                                    id="{{option.lower()}}"
                                >
                                    {{option}}
                                </option>
                                {% endfor %}
                            </select>
                            <br /><br />
                            <label for="id_label_single" class="dropdown-label"
                                >Select Y Axis:</label
                            >
                            <select
                                class="js-example-basic-single js-states form-control"
                                name="y_axis"
                                id="target2"
                                style="width: 150px"
                            >
                                {% for option in options["y_axis"] %}
                                <option
                                    class="tablinks"
                                    value="{{option}}"
                                    }
                                    id="{{option.lower()}}"
                                >
                                    {{option}}
                                </option>
                                {% endfor %}
                            </select>
                            <br /><br />
                            <label for="id_label_single" class="dropdown-label"
                                >Select X Axis:</label
                            >
                            <select
                                class="js-example-basic-single js-states form-control"
                                name="x_axis"
                                id="target3"
                                style="width: 150px"
                            >
                                {% for option in options["x_axis"] %}
                                <option
                                    class="tablinks"
                                    value="{{option}}"
                                    id="{{option.lower()}}"
                                >
                                    {{option}}
                                </option>
                                {% endfor %}
                            </select>
                            <br /><br /><br />
                            <input
                                type="submit"
                                class="submit-button"
                                name="submit-button"
                                value="Submit"
                            />
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>

    <script>
         // Chart.js JS
        // var data = JSON.parse("[" + '{{data.data}}' + "]");

        let myChart = document.getElementById('myChart').getContext('2d');
        let barChart = new Chart(myChart, {
        	type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        	data: {
        		labels:{{data.labels|tojson}}, // x-axis
        		datasets:[{
        			label:'{{data.label}}', // legend name
        			data:{{data.data|tojson}},  // y-axis
        			backgroundColor:'#E50914', // can input arrays
        			// borderWidth:2,
        			hoverBorderWidth:1,
        		}]
        	},
        	options: {
             plugins: {
               title:{
                 display:true,
                 text:'{{data.title}}',
                 font: {
                   size: 20 // default 18
                 },
                 padding: {
                   top:0,
                   bottom:0
                 }
        		  },
               legend:{
                 display:true,
                 position:'right',
                 labels:{
        				  fontColor:'#000'
        			  },
               },
               layout:{
                 padding:{
                   left:0,
                   right:0,
                   bottom:0,
                   top:0
                 }
               },
               tooltips:{
                 enabled:true
               }
        		},
           },
        });
    </script>

    <script>
        // Select2 JS
        $(document).ready(function () {
            $(".js-example-basic-single").select2({
                dropdownAutoWidth: false,
            });
        });
    </script>

    <script>
        // ensures dropdown selection stays after button submit
        var i, tablinks;
        // for (i = 1; i < 5; i++) {
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].selected = false;
        }
        // }
        document.getElementById("{{selection.period.lower()}}").selected = true;
        document.getElementById("{{selection.y_axis.lower()}}").selected = true;
        document.getElementById("{{selection.x_axis.lower()}}").selected = true;
    </script>

    <script>
        navlinks = document.getElementsByClassName("navlink");
        for (i = 0; i < navlinks.length; i++) {
            navlinks[i].style.color = "white";
        }

        document.getElementById("categorical").style.color = "#E50914";
        document.getElementById("categorical").style.fontWeight = "bold";
    </script>
</html>
