<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="../static/images/favicon.png"
        />

        <!-- Custom -->
        <link rel="stylesheet" href="../static/styles/home.css" />
        <link rel="stylesheet" href="../static/styles/navbar.css" />
        <link rel="stylesheet" href="../static/styles/button.css" />
        <!-- <link rel="stylesheet" href="../static/styles/scrollbar.css"> -->

        <!-- Select2 -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
            rel="stylesheet"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- jQuery base library needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <title>Market Analysis</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img class="netflix-logo" src="../static/images/logo.png" />
                </div>
                <div class="toggle">
                    <a href="/" style="margin-right: 40px">Insights</a>
                    <a href="/viewership" style="margin-right: 40px">Viewership</a>
                    <a href="/categorical" style="margin-right: 40px">Categorical</a>
                    <a href="/customquery">Query</a>
                </div>
            </div>
            <section id="home">
                <div class="overlay">
                    hi
                </div>
            </section>
        </div>
    </body>
</html>
