<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="../static/images/favicon.png"
        />

        <!-- Custom -->
        <link rel="stylesheet" href="../static/styles/home.css" />
        <link rel="stylesheet" href="../static/styles/navbar.css" />
        <link rel="stylesheet" href="../static/styles/button.css" />
        <link rel="stylesheet" href="../static/styles/insights.css" />
        <!-- <link rel="stylesheet" href="../static/styles/scrollbar.css"> -->

        <!-- Select2 -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
            rel="stylesheet"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- jQuery base library needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <title>Netfelix</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img class="netflix-logo" src="../static/images/logo.png" />
                </div>
                <div class="toggle">
                    <a href="/" class="navlink" id="insights" style="margin-right: 40px;">Insights</a>
                    <a href="/viewership"  class="navlink" id="viewership" style="margin-right: 40px;">Viewership</a>
                    <a href="/categorical" class="navlink" id="categorical" style="margin-right: 40px;">Categorical</a>
                    <a href="/customquery" class="navlink" id="query">Query</a>
                </div>
            </div>
            <section id="home">
                <div class="overlay">
                    <p style="color:white">
                        In the past month...
                        <ul>
                            <li>Customer ID <span>{{data.id}}</span> has the longest viewing duration of <span>{{data.id_duration}}</span> Minutes</li>
                            <li>Netflix show <span>{{data.title}}</span> is the most viewed title of <span>{{data.title_duration}}</span> Minutes</li>
                            <li>Genre <span>{{data.genre}}</span> is the most viewed genre of <span>{{data.genre_duration}}</span> Minutes</li>
                            <li>Age Rating <span>{{data.age_rating}}</span> is the most viewed rating of <span>{{data.age_rating_duration}}</span> Minutes</li>
                            <li><span>{{data.country}}</span> has the highest duration of Netflix shows watched of <span>{{data.country_duration}}</span> Minutes</li>
                        </ul>
                    </p>
                </div>
            </section>
        </div>
    </body>


    <script>
        navlinks = document.getElementsByClassName("navlink");
        for (i = 0; i < navlinks.length; i++) {
            navlinks[i].style.color = "white";
        }

        document.getElementById("insights").style.color = "#E50914";
        document.getElementById("insights").style.fontWeight = "bold";
    </script>
</html>
