@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto&display=swap');

.container {
    font-family: 'Bebas neue', sans-serif;
    font-size: 36px;
}

p, li {
    color: white;
}

.overlay {
    flex-direction: column;
    width:100vh;
}

span {
    color: #E50914;
    text-decoration: underline;
}